[submodule "submodules/github.com/alecthomas/entityx.git"]
	path = submodules/github.com/alecthomas/entityx.git
	url = https://github.com/alecthomas/entityx.git
[submodule "submodules/github.com/LaurentGomila/SFML.git"]
	path = submodules/github.com/LaurentGomila/SFML.git
	url = https://github.com/LaurentGomila/SFML.git
